body {
  margin: 0;
  height: 100%;
  font-family: 'Share Tech Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background: white
}

.home-container {
    background: url(./images/bg.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: 999;
    width: 100%;
    height: 100vh;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    border-bottom: 100px solid white;
}

.image:hover {
	opacity: 0.4;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

a:visited { text-decoration: none; color:red; }
a:hover { text-decoration: none; color:blue; }
a:hover, a:active { text-decoration: none; color:black }
